#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  margin: 0;
  padding: 0;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.avatar:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.avatar.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.name {
  font-size: 2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(163, 163, 255);
}

.website a {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(190, 190, 190);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .lavatar {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
