#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background: rgb(26, 26, 37);
  max-width: 375px;
  border-radius: 1.5rem;
}

.header-section{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.avatar {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.avatar:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.avatar.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.name {
  font-size: 2rem;
  margin: 0;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(163, 163, 255);
}

.website {
  margin: 0;
  padding: 15px;
  font-size: 1rem;
}

.website a {
  font-weight: 400;
  color: rgb(190, 190, 190);
}

main {
  text-align: left;
  padding: 30px 35px 30px 35px;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: .9rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: ;
  background: rgb(18, 18, 24);
  height: 60px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .lavatar {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
